/* fonts */

@font-face{
  font-family: 'Noi Grotesk Trial';
  src: url('fonts/NoiGroteskTrial-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: 'Noi Grotesk Trial';
  src: url('fonts/NoiGroteskTrial-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Noi Grotesk Trial';
  src: url('fonts/NoiGroteskTrial-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}


@font-face{
  font-family: 'Noi Grotesk Trial';
  src: url('fonts/NoiGroteskTrial-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face{
  font-family: 'Noi Grotesk Trial';
  src: url('fonts/NoiGroteskTrial-Semibold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face{
  font-family: 'Noi Grotesk Trial';
  src: url('fonts/NoiGroteskTrial-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


/* custom attributes */

:root{
  --fs-primary-heading: 4rem;
  --fs-titles: 2rem; 
  --fs-buttons: 1rem;
  --fs-specifics: 1.5rem;
  --fs-description: 1.25rem;

  --ff-titles: 'League Spartan', sans-serif;
  --ff-general: 'Noi Grotesk Trial';

  --fw-bold: 900;
  --fw-semibold: 800;
  --fw-medium: 600; 

  --size-8: 0.5rem;
  --size-16: 1rem;
  --size-32: 2rem;
  --size-64: 4rem;
  --size-80: 5rem;

  --clr-accent-500: hsl(12, 60%, 45%);
  --clr-accent-400: hsl(12, 88%, 59%);
  --clr-accent-300: hsl(12, 88%, 75%);
  --clr-accent-100: hsl(13, 100%, 96%);

  --clr-primary-400: hsl(228, 39%, 23%);

  --clr-neutral-900: hsl(232, 12%, 13%);
  --clr-neutral-100: hsl(0, 0%, 100%);
}

/* // https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Global Styling */

a {
  text-decoration: none;
  color: black;
}

button{
  font-family: var(--ff-general);
  font-size: var(--fs-buttons);
}

/* Primary Heading */

.primary-header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--ff-general);
}

.primary-header-wrapper > p{
  font-family: var(--ff-titles);
  font-size: var(--fs-titles);
  font-weight: var(--fw-bold);
}

.ph-nav{
  display: flex;
  justify-content: center;
  gap: clamp(var(--size-8), 5vh, var(--size-32));
  padding-left: 0;
  font-size: var(--fs-buttons);
}

.ph-buttons{
  display: flex;
  gap: 10px;
}

.ph-buttons > button {
  border: none;
  border-radius: 15px;
  padding: var(--size-8) var(--size-32);
  background-color: var(--clr-primary-400)
}

.ph-buttons a{
  color: white;
}


/* Main */

.search-wrapper{
  display: flex;
  gap: clamp(var(--size-8), var(--size-16), var(--size-32));
}

:where(.map-wrapper>:not(:first-child)){
  padding-top: var(--size-16);
}

.btn-map-wrapper{
  display: flex;
  gap: clamp(var(--size-8), var(--size-16), var(--size-32));
}

.btn-map-wrapper > button{
  padding: var(--size-16);
}

.search-wrapper{
  display: flex;
  gap: clamp(var(--size-8), var(--size-16), var(--size-32));
}

.results-wrapper{
  border: 1px solid black;
  padding: var(--size-16);
  min-width: clamp(var(--size-8), var(--size-16), var(--size-32));
}

.temp-map{
  width: 100%;
}
/* Utility Classes */

.container{
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.padding-block-80{
  padding-block: var(--size-80);
}